body {
  font-family: "Open Sans", sans-serif;
}

.pokedex__header--item {
  display: block;
  width: 10%;
  margin: auto;
}

.pokedex__header {
  text-align: center;
}

h1 {
  font-size: 33px;
  font-weight: 800;
}
