:root {
  --background-color: #d3d3d3;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
}

.pokedex__header--item {
  display: block;
  width: 10%;
  margin: auto;
}

.pokedex__header {
  text-align: center;
}

h1 {
  font-size: 33px;
  font-weight: 800;
}
